/* https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.34,0.3399999999999988,0.33466666666666667,0.8541183109687072,0.86,0.774,0.9435267833519382,0.95,0.9026754450324567,0.8423549329059065,0.86,0.774,0.9510290111235028,0.9777777777777777,0.88&swatchOrder=0,1,2,3,4 */
body{
  background-color: #f2f2f2;
}

.main {
  padding-left:  3em;
  padding-right: 3em;
  padding-top: 2em;
}

.navbar-img{
 padding-left: 0.5em;
 padding-right: 0.5em;
}

.navbar {
  font-size: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #70ca79;
  font-family: 'Acme';
}

.navbar-brand {
  font-size: 1.6em;
}

.titles{
 padding-left: 2em;
}

.hunt-ctn{
  padding-bottom: 1em;
}

.headers{
  font-family: 'Acme';
}

p, form {
  font-family: 'Roboto';
  font-size: 1.2em
}

.img-icon{
  padding-bottom: 1em;
}

.create-btn{
 float: right;
}

.map-container {
  width: 800px;
  max-width: 100%;
  height: 500px;
}

.center{
text-align: center;
}

.hunting{
  padding-left: 3em;
}

.hunting-panel {
  background-color: #dae3f3;
  height: 35em;
}

.clue1{
  color :#cc0000;
}

.clue2{
  color:#ff9932;
}

.clue3{
  color:#009900;
}

.score-txt{
  padding-top: 0.5em;
}

.map-size{
  padding-right: 1em;
}
